<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.BoardMapper">
	<select id="selectBoradList" resultType="com.gd.lms.vo.Board">
		select 
			board_no boardNo
			, board_name boardName
			, board_type boardType
			, create_date createDate
			, lecture_no lectureNo		
		from board b
		where b.lecture_no = #{lectureNo}	
	</select>



</mapper>