<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.lcDashMapper">
	
	
	<!-- 학생lms에 수강 중인 강의 목록 출력  -->
	<select id="seletStudentSign" parameterType="com.gd.lms.vo.Sign" resultType="map">
		SELECT
			g.user_id,
		    g.sign_no,
			l.lecture_no, l.lecture_day, l.classroom_no,
			s.subject_name
		FROM sign g 
		INNER JOIN lecture l ON l.lecture_no = g.lecture_no
		INNER JOIN subject s ON s.subject_no = l.subject_no 
		WHERE g.user_id= #{userId} AND g.sign_state = "1"
	</select>

</mapper>