<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.LectureMapper">

	<!-- 수강신청을 위한 개설 강좌 리스트 출력 -->
	<select id="selectLectureListForSign" resultType="map">
		SELECT l.lecture_no, l.lecture_time, l.lecture_starttime, l.lecture_endtime,
			   l.lecture_day, l.classroom_no, se.semester_session,
			   s.subject_no, s.subject_name, s.subject_point, s.subject_grade,
	 		   m.major_no, m.major_name
		FROM lecture l inner join subject s ON s.subject_no = l.subject_no
		INNER JOIN major m ON m.major_no = s.major_no
		INNER JOIN semester se ON l.semester_no = se.semester_no
		where l.semester_no = (
		SELECT semester_no
			FROM semester
			WHERE semester_year = YEAR(NOW())
			AND semester_session = round(MONTH(NOW())/6)
		)
		ORDER BY l.lecture_no
		limit #{beginRow}, #{rowPerPage}
	</select>	
	
	<!-- 개설 강좌 총 개수 -->
	<select id="getTotal" resultType="int">
		SELECT 
			count(*)
		FROM subject; 		
	</select>	
	
	<!-- 학생 원하는 수강 과목 insert -->
	<insert id="insertSign" parameterType="com.gd.lms.vo.Sign">
		INSERT INTO sign (
			user_id,
			sign_state, 
			lecture_no 
			)
		VALUES (
			#{userId},
			"0",
			#{lectureNo}
			)
	</insert>
	
	<!-- 학생 수강신청 목록 -->
	<select id="selectSignList" parameterType="com.gd.lms.vo.Sign"  resultType="map">
 		SELECT
			g.user_id,
			g.sign_state, g.sign_no,
			l.lecture_no, l.lecture_starttime, l.lecture_endtime, l.lecture_day, l.classroom_no,
			s.subject_name, s.subject_point, s.subject_grade
		FROM sign g 
		INNER JOIN lecture l ON l.lecture_no = g.lecture_no
		INNER JOIN subject s ON s.subject_no = l.subject_no 
		WHERE g.user_id= #{userId}
	</select>		
	
	<!-- 수강취소 -->
	<delete id="deleteSign" parameterType="com.gd.lms.vo.Sign">
		DELETE FROM sign WHERE sign_no = #{signNo}
	</delete>
	
	<!-- 수강 취소시 수강취소 목록에 등록 -->
	<insert id="insertCancelSign" parameterType="com.gd.lms.vo.Sign">
		INSERT INTO sign_cancel(
		    sign_no,
			user_id, 
			cancel_date,
			lecture_no,
			cancel_id
			) 
		VALUES (
			#{signNo},
			#{userId}, 
			NOW(),
			#{lectureNo},
			#{userId}
			) 
	</insert>
	
	<!-- 수강 취소 리스트 -->
	<select id="selectCancelSignList" parameterType="com.gd.lms.vo.SignCancel" resultType="map">
	  SELECT
	      sc.user_id,
	      sc.lecture_no,
	      sc.cancel_id,
	      s.subject_name,
	      DATE_FORMAT(sc.cancel_date,'%Y-%m-%d') cancel_date
	   FROM sign_cancel sc 
	   INNER JOIN lecture l ON sc.lecture_no = l.lecture_no
	   INNER JOIN subject s ON l.subject_no = s.subject_no 
	   WHERE sc.user_id =#{userId}
	</select>
	
	<!-- 수강 이력 확인 -->
	<select id="selectSignHistory" resultType="int">
	SELECT count(sign_no)
	FROM sign
	WHERE 
		sign.user_id = #{userId} 
		AND sign.lecture_no = #{lectureNo}
	</select>
	
	<!-- 신청 강의 시간 계산 쿼리 -->
	<select id="selectSignTime" resultType="int">
		SELECT 
			ifnull(SUM(l.lecture_time),0) lectureTime
		FROM sign s
		INNER JOIN lecture l
		ON s.lecture_no = l.lecture_no
		WHERE s.user_id = #{userId}
		AND s.sign_state = '1'
	</select>
	
	<!-- 학기 확인 쿼리 -->
	<select id="selectSemester" resultType="String">
	SELECT 
		s.semester_startdate
	from semester s
	WHERE s.semester_year = #{year}
	AND s.semester_session = #{session}
	</select>
	
	<!-- 같은 과목 신청 여부 확인 -->
	<select id="selectSignHistoryForSubject" resultType="int">
		SELECT *
		FROM sign s
		INNER JOIN lecture l
		ON s.lecture_no = l.lecture_no
		INNER JOIN subject sb
		ON l.subject_no = sb.subject_no
		WHERE s.user_id = #{userId}
			AND s.sign_state = 1
			AND sb.subject_no = (
				SELECT l.subject_no
				FROM lecture l
				WHERE l.lecture_no = #{lectureNo}
				)
	</select>
	
	<!-- 시간과 요일에 따른 제약조건 확인 -->
	<select id="selectSignHistoryForTime" resultType="int">
		SELECT *
		FROM sign s
		INNER JOIN lecture l
		ON s.lecture_no = l.lecture_no
		WHERE s.user_id = #{userId}
		AND l.lecture_day = (
		SELECT lecture_day
		FROM lecture l
		WHERE l.lecture_no = #{lectureNo})
		<!-- 
		AND l.lecture_starttime + 3 <![CDATA[<]]>  (
		SELECT lecture_starttime
		FROM lecture l
		WHERE l.lecture_no = #{lectureNo})
		 -->
	</select>
	
	
	
	
	
</mapper>