<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.LectureDashBoardMapper">


	<!-- ///////////////////////////////// 기타 게시판 생성 ////////////////////////////////////// -->
	<insert id="insertSubBoard" parameterType="com.gd.lms.vo.Board">
		INSERT
			INTO board (
			board_name
			, board_type
			, create_date
			, lecture_no
		) VALUES (
			#{boardName}
			, 3
			, now()
			, #{lectureNo}
		)
	</insert>
	<!-- ///////////////////////////////// 과제제출관련////////////////////////////////////// -->
	<!-- 강좌 게시판  -->
	<insert id="insertBoard" parameterType="com.gd.lms.vo.Board">
		INSERT
			INTO board (
			board_name
			, board_type
			, create_date
			, lecture_no
		) VALUES (
			#{boardName}
			, 4
			, now()
			, #{lectureNo}
		)
	<!-- 각 강좌별 개시판 생성 쿼리 -->
	</insert>
	<select id="assignmentBoardList" parameterType="com.gd.lms.vo.Board" resultType="map">
		SELECT
			l.lecture_no,
			b.board_no,
			b.board_name,
			b.board_type
		FROM lecture l INNER JOIN board b ON l.lecture_no = b.lecture_no
		WHERE l.lecture_no= #{lectureNo} and b.board_type=4
	</select>
	
	<!-- 과제 제출 상세 게시판 -->
	 <insert id="insertBoardPost" parameterType="com.gd.lms.vo.BoardPost">
	 	INSERT INTO 
	 		 board_post,
		     board_no,
		     board_post_title,
		     board_post_writer,
		     board_post_createdate,
		     board_post_updatedate,
		     count
		VALUES
		     #{boardNo},
		     #{boardPostTitle},
		     #{boardPostWriter},
			 #{boardPostContent},
		     NOW(),
		     NOW(),
		     0
	 </insert>
	 
	 <!-- 학생 출석현황 리스트 출력. -->
	 <select id="sutAttendance" resultType="com.gd.lms.vo.Attendance">
		SELECT
				w.week , a.attend_state attendState
		FROM week w
		INNER JOIN lecture l  ON l.lecture_no = w.lecture_no
		INNER JOIN attendance a ON a.week = w.week
		INNER JOIN sign s ON a.sign_no = s.sign_no
		WHERE s.lecture_no = #{lectureNo} AND s.user_id = #{userId}
	 </select>
	 
	 <!-- 교수가 보는 출결현황 리스트 -->
	 <select id="weekList" parameterType="int" resultType="map">
	 	SELECT
			lecture_no lectureNo,
			week,
			if(dATE(NOW()) BETWEEN w.start_date AND w.end_date,'Y','N') nowWeek
		FROM week w
		WHERE lecture_no = #{lectureNo}
	 </select>
	 
	 <!-- 교수의 해당강좌 학생리스트 -->
	 <select id="selectStudentListForAtt" parameterType="com.gd.lms.vo.Lecture" resultType="map">
	 	SELECT 
	 		stu.user_id studentId,
	 		l.lecture_no lectureNo
		FROM
			lecture l INNER JOIN sign s
			ON l.lecture_no = s.lecture_no
				INNER JOIN student stu
				ON s.user_id = stu.user_id
				 	INNER JOIN professor p
				 	ON l.user_id = p.user_id
		WHERE
			l.lecture_no = #{lectureNo} AND p.user_id = #{userId}
	 </select>
</mapper>