<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.LectureMapper">

	<!-- 수강신청을 위한 개설 강좌 리스트 출력 -->
	<select id="selectLectureListForSign" resultType="map">
		SELECT l.lecture_no, l.lecture_time, l.lecture_starttime, l.lecture_endtime,
			   l.lecture_day, l.classroom_no, l.semester_no,
			   s.subject_no, s.subject_name, s.subject_point, s.subject_grade,
	 		   m.major_no, m.major_name
		FROM lecture l INNER JOIN subject s ON s.subject_no = l.subject_no
		INNER JOIN major m ON m.major_no = s.major_no
		ORDER BY l.lecture_no
	</select>	
	
	<!-- 학생 원하는 수강 과목 insert -->
	<insert id="insertSign" parameterType="com.gd.lms.vo.Sign">
		INSERT INTO sign (
			user_id,
			sign_state, 
			lecture_no 
			)
		VALUES (
			#{userId},
			#{signState},
			#{lectureNo}
			)
	</insert>
	
	<!-- 학생 수강신청 목록 -->
	<select id="selectSignList" parameterType="com.gd.lms.vo.Sign"  resultType="map">
 		SELECT
			t.user_id,
			g.sign_state, g.sign_no,
			l.lecture_no, l.lecture_starttime, l.lecture_endtime, l.lecture_day, l.classroom_no,
			s.subject_name, s.subject_point, s.subject_grade
		FROM student t INNER JOIN sign g ON g.user_id = t.user_id
		INNER JOIN lecture l ON l.lecture_no = g.lecture_no
		INNER JOIN subject s ON s.subject_no = l.subject_no 
		WHERE t.user_id = #{userId}
	</select>		
	
	<!-- 수강취소 -->
	<delete id="deleteSign" parameterType="com.gd.lms.vo.Sign">
		DELETE FROM sign WHERE sign_no = #{signNo}
	</delete>
	
	<!-- 수강 취소시 수강취소 목록에 등록 -->
	<insert id="insertCancelSign" parameterType="com.gd.lms.vo.Sign">
		INSERT INTO sign_cancel(
		    sign_no,
			user_id, 
			cancel_date,
			lecture_no) 
		VALUES (
			#{signNo},
			#{userId}, 
			NOW(),
			#{lectureNo}
			) 
	</insert>
	
	<!-- 수강 취소 리스트 -->
	<select id="selectCancelSignList" parameterType="com.gd.lms.vo.SignCancel" resultType="map">
	   SELECT
	      sc.user_id,
	      l.lecture_no,
	      s.subject_name,
	      DATE_FORMAT(sc.cancel_date,'%Y-%m-%d') cancel_date
	   FROM sign_cancel sc 
	   INNER JOIN lecture l ON l.lecture_no = sc.lecture_no
	   INNER JOIN subject s ON s.subject_no = l.subject_no 
	   WHERE sc.user_id = #{userId}
	</select>
</mapper>