<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.MajorMapper">
<!-- 학과 리스트 -->
	<select id="selectMajorList" resultType="com.gd.lms.vo.Major">
	select
		m.major_no majorNo,
		m.major_name majorName,
		m.major_createdate majorCreatedate,
		u.user_id userId
	from major	m
	left outer join user u
	on m.user_id = u.user_id
	<!-- 보수 필요 예정 -->	
	</select>
	
<!-- 학과 추가 -->
	<insert id="addMajor" parameterType="com.gd.lms.vo.Major">
		INSERT INTO major(
			major_no,
			major_name,
			major_createdate,
			user_id
		) VALUES (
			#{majorNo},
			#{majorName},
			now(),
			#{userId}
		)
	
	</insert>
	
<!-- 학과 삭제 -->
	<delete id="deleteMajor" parameterType="com.gd.lms.vo.Major">
		DELETE FROM major
		WHERE major_no=#{majorNo}
	
	</delete>
	
<!-- 학과 수정 -->
	<update id="updateMajor" parameterType="com.gd.lms.vo.Major">
		UPDATE major
		SET
		major_name = #{majorName}
		WHERE major_no = #{majorNo}
	</update>
	
<!-- 학과 상세보기 -->
	<select id="selectMajorOne" resultType="map">
		SELECT
		m.major_no majorNo,
		m.major_name majorName,
		m.major_createdate majorCreatedate,
		u.user_id userId
		FROM major m
		left outer join user u
		on m.user_id = u.user_id
		WHERE m.major_no=#{majorNo} 
	
	</select>
	

	
	

</mapper>