<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.SemesterMapper">

<!--  학기 리스트 -->
	<select id="selectSemesterList" resultType="com.gd.lms.vo.Semester">
	SELECT
			semester_no semesterNo,
			semester_year semesterYear,
			semester_session semesterSession,
			semester_startdate semesterStartdate,
			semester_enddate semesterEnddate
	FROM semester
	
	
	</select>
	
<!-- 학기 추가 -->
	<insert id="addSemester" parameterType="com.gd.lms.vo.Semester">
		INSERT INTO semester(
			semester_no,
			semester_year,
			semester_session,
			semester_startdate,
			semester_enddate
		) VALUES (
			#{semesterNo},
			#{semesterYear},
			#{semesterSession},
			#{semesterStartdate},
			#{semesterEnddate}
		)
	
	</insert>
	
<!-- 학기 상세보기 -->
	<select id="selectSemesterOne" resultType="map">
		SELECT
			semester_no semesterNo,
			semester_year semesterYear,
			semester_session semesterSession,
			semester_startdate semesterStartdate,
			semester_enddate semesterEnddate
		FROM semester
		WHERE semester_no=#{semesterNo}
	</select>
	
<!-- 학기 삭제 -->
	<delete id="deleteSemester" parameterType="com.gd.lms.vo.Semester">
		DELETE FROM semester
		WHERE semester_no=#{semesterNo}
		
	
	</delete>
	
<!-- 학기 수정 -->
	<update id="updateSemester" parameterType="com.gd.lms.vo.Semester">
		UPDATE semester
		SET
			semester_year = #{semesterYear},
			semester_session = #{semesterSession},
			semester_startdate = #{semesterStartdate},
			semester_enddate = #{semesterEnddate}
		WHERE semester_no = #{semesterNo}
			
	</update>

<!-- 총 일수 구하기 -->
	<insert id="getSemesterDay" parameterType="com.gd.lms.vo.Semester">
		INSERT INTO semester(
		semester_day
		) VALUE (
		DATEDIFF ('#{semesterEnddate}'-'#{semesterStartdate}')
		)
		where semester_no = #{semesterNo}
		
	
	</insert>


</mapper>