<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.SignListForAdminMapper">
	<!--  강좌 리스트 -->
	<select id="selectLectureList" resultType="map">
		SELECT 
		    l.lecture_no,
			l.subject_no,
			l.classroom_no,
			l.user_id,
			u.user_name, 
			s.subject_name,
			s.subject_grade
		FROM subject s 
		inner JOIN lecture l 
		ON s.subject_no = l.subject_no
		inner join user u
		on l.user_id = u.user_id
	
	</select>
	
	<!-- 강좌별 수강신청 인원 -->
	<select id="selectStudentListByLecture" resultType="map" parameterType="com.gd.lms.vo.Sign">
		SELECT
			l.lecture_no,
			s.subject_name,
			s.subject_grade,
			i.sign_state,
			i.sign_no,
			m.major_name,
			t.user_id,
			t.st_name,
			t.st_grade
		FROM lecture l INNER JOIN subject s ON l.subject_no = s.subject_no
		INNER JOIN sign i ON l.lecture_no = i.lecture_no
		INNER JOIN student t ON i.user_id = t.user_id
		INNER JOIN major m ON t.major_no = m.major_no
		WHERE l.lecture_no = #{lectureNo}
	</select>
	
	<!-- 수강신청한 과목 정보 -->
	<select id="selectSubjectInfo" resultType="map">
		SELECT 
			s.subject_grade,
			s.subject_name,
			m.major_name
		FROM lecture l INNER JOIN subject s ON l.subject_no = s.subject_no
		INNER JOIN major m ON s.major_no = m.major_no
	</select>
	
	<!-- 학생 수강 상태 변경 -->
	<update id="updateSignState" parameterType="com.gd.lms.vo.Sign">
		UPDATE sign
		SET sign_state = #{signState}
		WHERE lecture_no = #{lectureNo} 
		AND user_id = #{userId}
	</update>
	
	
	<!-- 취소된 내용 signcancel테이블에 담기 -->
	<insert id="insertSignCancel" parameterType="com.gd.lms.vo.SignCancel">
		INSERT INTO sign_cancel(
			sign_no,
			user_id, 
			cancel_date,
			lecture_no,
			cancel_id
			) 
		VALUES (
			#{signNo}, 
			#{userId}, 
			NOW(),
			#{lectureNo},
			#{cancelId}
			) 
	</insert>
	
	<!-- 취소가 아닐 경우 signcancel테이블 삭제 -->
	<delete id="deleteSignCancel" parameterType="com.gd.lms.vo.SignCancel">
		DELETE
		FROM sign_cancel
		WHERE sign_no = #{signNo}
	</delete>
</mapper>