<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.TestMapper">

	
	<!-- 강좌별 시험리스트 생성 쿼리_학생 -->
	<select id="selectTestList" resultType="map">
		SELECT 
			t.test_no testNo
			, t.test_name testName
			, t.test_starttime testStarttime
			, t.test_endtime testEndtime
			, t.test_createdate testCreatedate
			, t.test_updatedate testUpdatedate
			, t.lecture_no lectureNo
			, (
				SELECT ifnull(SUM(answer_score),0)
				FROM answer a
				INNER JOIN question q
				ON a.question_no = q.question_no
				WHERE q.test_no = t.test_no AND a.sign_no = #{signNo}
			) score
		FROM test t
		WHERE lecture_no = #{lectureNo}
				
	</select>	
	
	<!-- 강좌별 시험리스트 생성 쿼리_운영자 -->
	<select id="selectTestListAdmin" resultType="com.gd.lms.vo.Test">
		SELECT 
			t.test_no testNo
			, t.test_name testName
			, t.test_starttime testStarttime
			, t.test_endtime testEndtime
			, t.test_createdate testCreatedate
			, t.test_updatedate testUpdatedate
			, t.lecture_no lectureNo
		FROM test t
		WHERE lecture_no = #{lectureNo}
	
	</select>
	
	
	<!-- 시험별 문제 리스트 생성 쿼리 -->
	<select id="selectTestQuestion" resultType="com.gd.lms.vo.Question">
		SELECT 
			question_no questionNo
			, question_content questionContent
			, question_answer questionAnswer
			, test_no testNo
		FROM question
		WHERE test_no = #{testNo}
		ORDER BY question_no
	</select>
	
	<!-- 시험별 보기 리스트 생성 쿼리 -->
	<select id="selectTestChoice" resultType="com.gd.lms.vo.MultiChoice">
		SELECT
		choice_no choiceNo
		, question_no questionNo
		, choice_content choiceContent
		from multi_choice
		WHERE question_no IN (
			SELECT question_no
			FROM question q
			WHERE test_no = #{testNo}
			ORDER BY q.question_no
			)
		order by question_no, choice_no
	</select>
	
	<!-- 시험 데이터 삽입 쿼리 -->
	<insert id="insertTest" parameterType="com.gd.lms.vo.Test" useGeneratedKeys="true" keyProperty="testNo">
	insert 
		into test (
			test_name
			, test_starttime
			, test_endtime
			, test_createdate
			, test_updatedate
			, lecture_no
		) values (
			#{testName}
			, #{testStarttime}
			, #{testEndtime}
			, now()
			, now()
			, #{lectureNo}
		
		)
	</insert>
	
	<!-- 시험 문제 데이터 삽입 쿼리 -->
	<insert id="insertTestQuestion" parameterType="com.gd.lms.vo.Question" useGeneratedKeys="true" keyProperty="questionNo">
	insert 
		into question (
			question_content
			, question_answer
			, test_no
		) values (
			#{questionContent}
			, #{questionAnswer}
			, #{testNo}		
		)
	</insert>
	
	<!-- 시험 문제 보기 데이터 삽입 쿼리 -->
	<insert id="insertTestChoice" parameterType="com.gd.lms.vo.MultiChoice">
	insert 
		into multi_choice (
			choice_no 
			, question_no
			, choice_content
		) values (
			#{choiceNo}
			, #{questionNo}
			, #{choiceContent}
		)
	</insert>
	
	<!-- 시험 응시 여부 확인 -->
	<select id="selectTestCheck" resultType="int">
	SELECT
		Count(s.user_id) cnt
	from answer a
	INNER JOIN sign s
	ON a.sign_no = s.sign_no
	INNER JOIN user u
	ON s.user_id = u.user_id
	inner JOIN question q
	ON a.question_no = q.question_no
	INNER JOIN test t
	ON q.test_no = t.test_no
	WHERE u.user_id = #{userId} AND t.test_no = #{TestNo}
	
	</select>
	
	<!-- 학생 수강 -->
	<select id="selectSignNoByTest" resultType="int">
	SELECT sign_no
		from sign
		WHERE 
			user_id = #{userId}  
		AND 
			lecture_no=(
				SELECT lecture_no
					FROM test s
					WHERE test_no = #{testNo}
			)
		AND 
			sign_state = '1'
	</select>
	
		<!-- 학생 수강 -->
	<select id="selectSignNoByLecture" resultType="int">
		SELECT ifnull(sign_no,0) AS signNo
		from sign

		WHERE 
			user_id = #{userId}  
		AND 
			lecture_no=#{lectureNo}
		AND 
			sign_state = '1'
			UNION all
			SELECT 0 as signNo 
			FROM dual
	LIMIT 1
	</select>
	
	<!-- 교수 아이디 추출 쿼리 -->
	<select id="selectPro" resultType="String">
	select
		user_id
		FROM lecture
		WHERE lecture_no = #{lectureNo}
	</select>
	
	<!-- 학생 답안 제출 쿼리-->
	<insert id="insertAnswer">
	INSERT
		INTO answer(
			answer_select
			, answer_score
			, question_no
			, sign_no
		) VALUES(
			#{answerSelect}
			, 0
			, #{questionNo}
			, #{signNo}		
		)
	</insert>
	
	<!-- 시험 제출 학생 리스트 생성 쿼리 -->
	<select id="selectTestStudnet" resultType="map">
	SELECT
		st.user_id studentId
		, st.st_name studentName
		, (
			SELECT ifnull(SUM(answer_score),0)
			FROM answer a
			INNER JOIN question q
			ON a.question_no = q.question_no
			WHERE q.test_no=#{testNo} and a.sign_no = s.sign_no
		) studentScore
	FROM sign s
	INNER JOIN student st
	ON s.user_id = st.user_id
	WHERE s.lecture_no = #{lectureNo}
	and s.sign_state = '1'
	</select>
	
	<!-- 응시 학생 전체 채점 쿼리_정답 처리 -->
	<update id="updateTestScoreWrong">
	UPDATE answer a
	SET answer_score = 0
	WHERE question_no IN (
		SELECT question_no
		FROM question
		WHERE test_no = #{testNo}
		)
	AND answer_select != (
		SELECT question_answer
		FROM question q
		WHERE q.question_no = a.question_no
		)
	
	</update>
	
	
	<!--응시 학생 전체 채점 쿼리_오답 처리 -->
	<update id="updateTestScoreCorrect">
	UPDATE answer a
	SET answer_score = 1
	WHERE question_no IN (
		SELECT question_no
		FROM question
		WHERE test_no = #{testNo}
		)
	AND answer_select = (
		SELECT question_answer
		FROM question q
		WHERE q.question_no = a.question_no
		)
	</update>


	<!-- 문제 수정 폼 전송용 쿼리 -->
	<select id="selectTestModifyForm" resultType="map">
	SELECT 
		q.question_no questionNo
		, q.question_content questionContent
		, q.question_answer questionAnswer
		, m.choice_no choiceNo
		, m.choice_content choiceContent
	from question q
	INNER JOIN
	multi_choice m
	ON q.question_no = m.question_no
	WHERE q.question_no = ${questionNo}
	</select>
	
	
	<!-- 문제 수정 쿼리 -->
	<update id="updateQuestion" parameterType="com.gd.lms.vo.Question">
	update question 
	set 
		question_content=#{questionContent}
		, question_answer=#{questionAnswer}
	where question_no=#{questionNo}
	</update>
	
	<!-- 보기 수정 쿼리 -->
	<update id="updateMultiChoice" parameterType="com.gd.lms.vo.MultiChoice">
	update multi_choice 
	set choice_content=#{choiceContent}
	where choice_no=#{choiceNo} 
	and question_no=#{questionNo}
	</update>
	
</mapper>